<a href="https://colab.research.google.com/github/maeharatak/test-repository/blob/master/yuka_python_start.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 優風向け
# https://developers.google.com/edu/python
ビデオをみてやってもいいし、テキストを読んでやっても良い。英語だけど、
優風なら大丈夫かな。

pythonという言語についての勉強になるのだけど、プログラミングはこの前
javascriptとhtmlは少しやっていると思うので、なんとなくわかるのでは
ないかと思うけど、もし、迷うことがあれば、聞いてください。

実行環境はママのパソコンにpythonをインストールするのではなく、
Google colabというのがあるので、実行環境をPCに入れなくて済む、こちらでだいたい大丈夫ではないかと思います。
#https://colab.research.google.com/

レクチャーと少し文法やインタフェースが違うところがあるので、その部分は調べながら、わからなければ聞きながら進めてみてください。

exerciseはやったあと動作を確認して、たかゆきに説明したら次に進みましょう。
言語化できることが大事です。面倒だとは思うのだけど、それぞれの変数の意味をきちんと理解して、それをきちんと使うことがプログラミング上達の近道になります。
私が理解しきれていないところがあるので、一緒に勉強する意味でも時間はかかるけど、慣れるまで(自分で調べて進められるまで)はこの方法でやった方が良いと思います。

またファイルはgoogle driveにレクチャーごとに自分で書いて保存しておいてください。exerciseはgithubにアカウントを作って保存しておいてもらった方が共有はしやすいので、そちらでお願いします。
https://github.com/

#以下は実行例になります。

Examples of markdown text with tags repeated, escaped the second time, to clarify their function:

##### \#\#\#\#\#This text is treated as an <h5> because it has five hashes at the beginning

\**italics*\* and \__italics_\_

**\*\*bold\*\***

\~\~~~strikethrough~~\~\~

\``monospace`\`

No indent
>\>One level of indentation
>>\>\>Two levels of indentation

An ordered list:
1. 1\. One
1. 1\. Two
1. 1\. Three

An unordered list:
* \* One
* \* Two
* \* Three

A naked URL: https://google.com

Linked URL: \[[Colaboratory](https://research.google.com/colaboratory)]\(https://research.google.com/colaboratory)

A linked URL using references:

>\[[Colaboratory][colaboratory-label]]\[colaboratory-label]

>\[colaboratory-label]: https://research.google.com/colaboratory
[colaboratory-label]: https://research.google.com/colaboratory

An inline image: !\[Google's logo](https://www.google.com/images/logos/google_logo_41.png)
>![Google's logo](https://www.google.com/images/logos/google_logo_41.png)

Equations:

>$y=x^2$

>$e^{i\pi} + 1 = 0$

>$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$

>$\frac{n!}{k!(n-k)!} = {n \choose k}$

>$A_{m,n} =
 \begin{pmatrix}
  a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
  a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
  \vdots  & \vdots  & \ddots & \vdots  \\
  a_{m,1} & a_{m,2} & \cdots & a_{m,n}
 \end{pmatrix}$

Tables:
>```
First column name | Second column name
--- | ---
Row 1, Col 1 | Row 1, Col 2
Row 2, Col 1 | Row 2, Col 2
```

becomes:

>First column name | Second column name
>--- | ---
>Row 1, Col 1 | Row 1, Col 2
>Row 2, Col 1 | Row 2, Col 2

Horizontal rule done with three dashes (\-\-\-):

---

In [0]:
a = 6       ## set a variable in this interpreter session
a           ## entering an expression prints its value

6

In [0]:
a = 'hi'    ## 'a' can hold a string just as well
a

'hi'

In [0]:
len(a)

2

In [0]:
a+str(len(a))

'hi2'

In [0]:
import sys

# Gather our code in a main() function
def main():
    print('Hello there', sys.argv)
    # Command line args are in sys.argv[1], sys.argv[2] ...
    # sys.argv[0] is the script name itself and can be ignored

# Standard boilerplate to call the main() function to begin
# the program.
if __name__ == '__main__':
    main()

Hello there ['/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-269c3f58-8af5-43f3-a962-db2caa8e521a.json']

In [0]:
import re

str = 'an example word:cat!!'
match = re.search(r'word:\w\w\w', str)
# If-statement after search() tests if it succeeded
if match:
  print('found', match.group()) ## 'found word:cat'
else:
  print('did not find')

found word:cat

In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
dframe1 = DataFrame(np.arange(8).reshape((2, 4)),
                    index=pd.Index(['LA', 'SF'], name='city'),
                    columns=pd.Index(['A', 'B', 'C', 'D'], name='letter'))
dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7